.login{
	width: 100px;
	background-color: #3F51B5;
	color: #fff;
}

.login:hover{
	background-color: #3F51B5;
	color: #fff;
}

form .registro{
	font-size: 15px;
	margin-left: 15px;
}




/*Media queries para móviles*/
@media (max-width: 700px) {
	form{
		width: 75%;
		margin-top: 25px;
		margin-right: 60px;
		margin-left: 60px;
	}

	.login{
		width: 100%;
	}

	form .registro{
		display: block;
		margin-top: 20px;
	}
}