.opciones{
	margin-top: 10px;
	text-align:center;
}

.opciones .btn{
	width: 90%;
}

.subir{
	font-size: 25px;
}

#contEquipos{
	margin-top: 20px;
	font-size: 17px;
	height: 50px !important;
	margin-bottom: 5px;
}
.equiposItem{
	text-align: center;
}

.modal *{
	height: auto;
}

@media (max-width: 700px) {
	#container{
		left: 0;
	}

	.subir{
		margin-top: 30px;
	}
}

@media (max-width: 400px) {
	#container{
		left: 0;
	}

	.opciones{
		margin-left: 25px;
	}
}